<header class="bg-white dark:bg-white w-[90%] m-auto fixed left-0 right-0 z-10 flex justify-between items-center p-4 rounded-b-xl">
    {%include 'components/logo.html'%}
    <nav class="flex gap-4">
        <a class="hover:text-gray-500 duration-200" href="/">Home</a>
        <a class="hover:text-gray-500 duration-200" href="/">About</a>
        <a class="hover:text-gray-500 duration-200" href="/">Contact</a>
        <a class="hover:text-gray-500 duration-200" href="/">Services</a>
    </nav>
        <img class="w-8 h-8 rounded-full object-cover" src="https://i.pinimg.com/1200x/6a/76/fb/6a76fb1dc0538a6a78ce31e3c827a9e8.jpg">
</header>